<h4>Hi, {{ username }}! </h4>
<p>This email was sent to you because you registered at {{ server_name }}</p>
<p>Here's your activation <a href="{{ link }}" target='_blank'>link</a></p>
<p>If it wasn't you, don't do anything. Our ultra-fashionable robot will clean up inactive registrations itself!</p> </br>
<p>{{ server_name }} Team )</p>